<h1>Seja Bem-Vindo</h1>
<p><strong>Data: <%= data_br(Date.today) %></strong></p>

<h2><%= nome_aplicacao%><h2>

  <%= render "menu"%>
<p>
  Voce esta em ambiente de <strong> <%= ambiente_rails %></strong>
</p>
<p>
  Variavel de instancia/sessão <%= @nome %>
</p>
<p>
  Curso: <%= @curso %>
</p>
