<!DOCTYPE html>
<html>
  <head>
    <title>CrytoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Cabeçalho ADM</h1>
    <%= yield %>
    <footer><h3>RODAPÈ</h3></footer>
  </body>
</html>
